<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="SlaveName" value="MININT-z1" />
    <add key="MasterName" value="MININT-z1" />
    <add key="SlavePort" value="9008" />
    <add key="MasterPort" value="9018" />
    <add key="SlaveLoggerName" value="SlavelogInfo" />
    <add key="VirtualLogPath" value="Log\Log4net.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
