
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>Task</label>
<br />
<a href="/Tinct/Create" class="btn btn-sm btn-default">CreateTask</a>
<br />
<label>ViewDetail</label>
<br />
<a href="/Tinct/Nodes" class="btn btn-sm btn-default">Nodes</a>
<a href="/Tinct/Tasks" class="btn btn-sm btn-default">Tasks</a>
<a href="/Tinct/Logs" class="btn btn-sm btn-default">Logs</a>
<br />
<label>Opeartion</label>
<br />
<a href="/Tinct/StartTask" class="btn btn-sm btn-primary">Start</a>

