@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>


<form class="form-horizontal form-inline" action="/Tinct/Logs" method="post">
    <div class="form-group">
        <label for="dtp_input2" class="col-md-2  control-label">Date Picking</label>
        <div class="input-group date form_date col-md-4" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyymmdd">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            

        </div>
        <label class="col-md-1 control-label">TasKID</label>
        <div class="col-md-4">
            <input type="text" class="form-control" size="16" name="TaskID" />
        </div>
        <button type="submit" class="btn btn-default ">View</button>
        <input type="hidden" id="dtp_input2" value="" name="LogDate" />
  
    </div>

</form>




<input type="hidden" value='@Html.Raw(ViewBag.logs)' name="logInfoLists" />
<input type="hidden" value='@Html.Raw(ViewBag.PageSize)' name="pagesize" />
<table class="table table-striped" name="logsTable">
    <tr>
        <th>Time</th>
        <th>TaskID</th>
        <th>ControllerName</th>
        <th>ActionName</th>
        <th>MachineName</th>
        <th>TaskData</th>
        <th>WaittingTaskID</th>
        <th>Status</th>
    </tr>
</table>

<nav>
    <ul class="pager" style="text-align:right">
        <li>
            <input class="form-control" id="page" value="1" type="text" style="display:inline;width:4%" name="pageindex" />

        </li>
        <li>
            <a onclick="goPage()">Go</a>
        </li>
        <li><a onclick="prev()">Previous</a></li>
        <li><a onclick="next()">Next</a></li>

    </ul>
</nav>

<script type="text/javascript">
    $('.form_date').datetimepicker({

        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function goPage() {
        pageindex = document.getElementsByName("pageindex")[0].value;
        tasksPage(pagesize, pageindex, currentdatas);
    }

    function prev() {
        if (pageindex > 1) {
            pageindex--;
        }

        tasksPage(pagesize, pageindex, currentdatas);
        document.getElementsByName("pageindex")[0].value = pageindex;
    }


    function next() {
        pageindex++;
        tasksPage(pagesize, pageindex, currentdatas);
        document.getElementsByName("pageindex")[0].value = pageindex;
    }

    var datas = JSON.parse(document.getElementsByName("logInfoLists")[0].value);
    var currentdatas = datas;
    var pageindex = 1;
    var pagesize = parseInt(document.getElementsByName("pagesize")[0].value);


    function tasksPage(pagesize, pageindex, datas, sortName, object) {
        //if (object != undefined) {
        //    if (object.sortDirection == undefined) {
        //        object.sortDirection = "asc";
        //    }
        //    else if (object.sortDirection == "asc") {
        //        object.sortDirection = "desc";
        //    }
        //    else if (object.sortDirection == "desc") {
        //        object.sortDirection = "asc";
        //    }

        //    tasks = tasks.sort(by(sortName, object.sortDirection))
        //}

        var pagedatas = datas.slice(pagesize * (pageindex - 1), pagesize * pageindex);

        $(document.getElementsByName("loginfo")).remove();
        var table = document.getElementsByName("logsTable")[0];



        $.each(pagedatas, function f(k, v) {

            var ele = $('<tr name="loginfo"></tr>');
            ele.append('<td>' + v.Date + '</td>');
            ele.append('<td>' + v.Message.ID + '</td>');
            ele.append('<td>' + v.Message.Context.ControllerName + '</td>');
            ele.append('<td>' + v.Message.Context.ActionName + '</td>');
            ele.append('<td>' + v.Message.Context.NodeName + '</td>');
            ele.append('<td>' + v.Message.Context.TaskData + '</td>');
            
            var waitstr="<td><ul>";
            $.each(v.Message.WaitTaskIDs,function(k1,v1)
            {
                waitstr+='<li>'+v1+'</li>'
            })
           
            waitstr+='</ul></td>';
          
            ele.append(waitstr);

            ele.append('<td>' + v.Message.Status + '</td>');

            $(table).append(ele);
        });


    }
    tasksPage(pagesize, pageindex, currentdatas);



</script>

